/********************* General *********************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    background: linear-gradient(to right, #001f3f, #4fc3f7);
    line-height: 1.7;
}

/********************* Header *********************/
header {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to right, #001f3f, #4fc3f7);
    color: white;
}

header h1 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
    position: relative;
    padding: 0 80px;
}

header h1::before,
header h1::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 500px;
    height: 3px;
    background: white;
    transform: translateY(-50%);
}

header h1::before {
    left: 0;
}

header h1::after {
    right: 0;
}


/********************* Navegaci贸n *********************/
nav {
    display: flex;
    justify-content: center;
    background: #001f3f;
    padding: 5px 0;
    width: 100vw;
    border-bottom: 2px solid white;
    margin-bottom: -20px;
    left: 0;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover {
    color: #4fc3f7;
    text-shadow: 0 0 5px #4fc3f7;

}

/********************* General Seccion *********************/

#zeitplan, #anforderungen, #anmeldung {
    border: 2px solid #4fc3f7;
    border-radius: 10px;
}

h2 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px #4fc3f7, -2px -2px 5px #001f3f;
}


/********************* Secci贸n Einleitung *********************/

#einleitung {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url('assets/dance_camera.jpg') no-repeat center center/cover;
    padding: 50px;
    height: 700px;

}
#einleitung p {

    text-align: left;
    color: white;
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px #000000, -2px -2px 5px #808080;
    margin-left: 40px;
    font-weight: 950;
    line-height: 1.5;
    max-width: 60%;
    margin-top: 150px;

    }

/********************* Secci贸n Anforderungen *********************/
#anforderungen {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background: rgba(134,190,207,0.81);
    margin: 20px auto;
    border-radius: 10px;
}

#anforderungen h2 {
    flex: 1;
    margin-right: 20px;
}

#anforderungen table {
    flex: 1;
    border-collapse: collapse;
    width: 100%;
}

#anforderungen th,
#anforderungen td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

/********************* Secci贸n Zeitplan *********************/
#zeitplan {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: flex-start;
    padding: 50px;
    background: rgba(134,190,207,0.81);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#zeitplan h2 {
    display: block;
    grid-column: 1 / 2;
    text-align: left;
     margin: 0;
}

#zeitplan ul {
    grid-column: 2 / 3;
    margin: 0;
    padding-left: 300px;
    line-height: 1.7;
    list-style: none;
}

#zeitplan ul li {
    margin-bottom: 10px;
}
#zeitplan ul li span {
    display: inline;
    font-weight: bold;
}

/************************ Secci贸n Anmeldung ************************/
#anmeldung {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 20px auto;
    background: rgba(134,190,207,0.81);
    border-radius: 10px;
}

#anmeldung .left-column {
    flex: 1;
    margin-right: 30px;
}

#anmeldung h2 {
    margin-bottom: 50px;
}

#anmeldung form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
}

#anmeldung form input,
#anmeldung form textarea {
    height: 50px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    box-sizing: border-box;
 }

#anmeldung form textarea {
    height: 100px;
}
/************************ Seccion Anmeldung button ************************/
#anmeldung button {
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    background: #001f3f;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: auto;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
}

#anmeldung button:hover {
    background: white;
    color: #001f3f;
    transform: scale(1.1);
}
/************************ Secci贸n Video/Audio ************************/

#anmeldung .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#anmeldung .right-column h3 {
    position: relative;
    display: inline-flex;
}

.video-container h3::after {
    content: ' ';
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}


#anmeldung .video-container iframe {
    height: 600px;
    width: 100%;
    border-radius: 10px;
}

iframe {
    border: 3px solid skyblue;
    border-radius: 5px;
}
.audio-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.audio-container h3 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.audio-container audio {
    flex: 1;
    max-width: 500px; 
}

/************************ ber das Event ************************/
#眉ber-das-event {
    background: url('assets/single_dancer_bw.jpg') no-repeat center center/cover;
    padding: 50px 0;
    text-align: center;
    width: 100%;
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 1.8rem;
    font-weight: 950;
    line-height: 1;
}

    #眉ber-das-event p {
        color: white;
        text-shadow: 2px 2px 5px #000000, -2px -2px 5px #808080;
    }

/***************** Footer/ ber das Event ***********************/
footer {
    background: #001f3f;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border: none;
}
